@charset "utf-8";
/*v2.1.2*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
    display: block;
}

/**, *:before, *:after {box-sizing: border-box; }*/
*, *:before, *:after {
    box-sizing: content-box;
}

/*img,object,embed {max-width: 100%;}*/
/*html {overflow-y: scroll;}*/
ul, ol {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    font-weight: normal;
    vertical-align: middle;
}

td {
    font-weight: normal;
    vertical-align: middle;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
}

/*input[type="radio"] {vertical-align: text-bottom;}*/
/*input[type="checkbox"] {vertical-align: bottom;}*/
.ie7 input[type="checkbox"] {
    vertical-align: baseline;
}

.ie6 input {
    vertical-align: text-bottom;
}

select, input, textarea {
    font: 99% sans-serif;
}

table {
    font-size: inherit;
    font: 100%;
}

small {
    font-size: 85%;
}

strong {
    font-weight: bold;
}

/*td, td img {vertical-align: top;} */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

pre, code, kbd, samp {
    font-family: monospace, sans-serif;
}

/*.clickable,label, input[type=button], input[type=submit], input[type=file], button {cursor: pointer;}*/
.clickable, label, button {
    cursor: pointer;
}

button, input, select, textarea {
    margin: 0;
}

/*button,input[type=button] {width: auto; overflow: visible;}*/
.ie7 img {
    -ms-interpolation-mode: bicubic;
}

.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

/*add*/
select, input, textarea {
    padding: 0;
    margin: 0;
}

body, select, input, textarea {
    color: #3e3e3e;
    font-family: "\5FAE\8F6F\96C5\9ED1", arial;
    font-size: 12px;
}

ins {
    background-color: #fcd700;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #fcd700;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

input:-moz-placeholder {
    color: #a9a9a9;
}

textarea:-moz-placeholder {
    color: #a9a9a9;
}

/*input focus*/
.input-focus {
    border: 1px #d7d7d7 solid;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-focus:focus, .input-focus.focus {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.radius-tl0 {
    -webkit-border-top-left-radius: 0;
    -moz-border-top-left-radius: 0;
    -o-border-top-left-radius: 0;
    border-top-left-radius: 0;
}

.radius-tr0 {
    -webkit-border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
    -o-border-top-right-radius: 0;
    border-top-right-radius: 0;
}

.radius-bl0 {
    -webkit-border-bottom-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    -o-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
}

.radius-br0 {
    -webkit-border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    -o-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

.member body {
    background: url(../img/member_bg.png) 0 0 repeat;
}

.m-main {
    width: 1200px;
    height: 360px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin: -180px 0 0 -600px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

.m-form {
    width: 400px;
    margin: 0px auto;
}

input::-webkit-placeholder {
    color: #4c535d;
}

input::-moz-placeholder {
    color: #4c535d;
}

.m-input-text {
    height: 50px;
    margin-bottom: 12px;
    position: relative;
}

.input-focus {
    width: 358px;
    height: 24px;
    padding: 12px 20px;
    line-height: 24px;
    font-size: 16px;
}

.m-input-btn {
    width: 400px;
    height: 50px;
}

.m-input-btn-ps {
    position: absolute;
    left: 50%;
    margin-left: -200px;
    bottom: 40px;
}

.m-input-btn-s {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #777f94;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    border: none;
}

/*.m-input-btn-s*/
.m-title {
    margin-top: 50px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    padding: 10px 0px 20px;
    color: #6bb93f;
    font-weight: bold;
    font-size: 24px;
}

.m-icon {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: -40px;
    margin-left: -40px;
    font-size: 48px;
    background-color: #77c04b;
    color: #fff;
    text-align: center;
    line-height: 80px;
}

.m-input-join-d {
    margin-top: -13px;
}

.input-focus:focus {
    position: relative;
    z-index: 100;
}

/*404*/
.errorBox {
    width: 610px;
    height: 400px;
    position: absolute;
    margin: -200px 0 0 -305px;
    top: 50%;
    left: 50%;
}

.errorTip {
    position: relative;
    border-bottom: 1px solid #d4d4d4;
    padding: 120px 0 26px 140px;
}

.errorTip h1 {
    font-size: 36px;
    font-style: normal;
}

.errorTip img {
    position: absolute;
    top: 0;
    right: 185px;
}

.errorTip p {
    font-size: 18px;
    margin-top: 15px;
}

.error_dec {
    margin-top: 25px;
    color: #666;
    text-align: center;
}

.errorBox .btn {
    margin: 48px auto 0;
    display: block;
    width: 265px;
    height: 67px;
    line-height: 67px;
    border: 0 none;
    cursor: pointer;
    background-color: #438eb9;
    font-size: 22px;
    color: #fff;
}
