<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>Dashboard - Ace Admin</title>
    <meta name="description" content="overview &amp; stats"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!-- css样式表异步加载 在/layout/stylesheets.html内 -->
</head>

<body class="no-skin">
<!-- 异步加载头部导航条 -->
<div id="navbar" class="navbar navbar-default navbar-fixed-top"></div>
<!-- 异步加载头部导航条 结束 -->
<div class="main-container" id="main-container">
    <!-- 异步加载左侧边栏 -->
    <div id="sidebar" class="sidebar responsive"></div>
    <!-- 异步加载左侧边栏 结束-->
    <div class="main-content">
        <!-- 异步加载面包屑 -->
        <div class="breadcrumbs" id="breadcrumbs"></div>
        <!-- 异步加载面包屑 结束-->

        <div class="page-content">
            <!-- 页面内容全部放大这里 -->
            <div class="page-header">
                <h1>客户联系人信息</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form">
                        <div class="form-group no-margin-left">
                            <div class="input-group col-md-3">
                                <input type="text" class="form-control search-query" placeholder="请输入电话号码">
                                <span class="input-group-btn">
											<button type="button" class="btn btn-purple btn-sm">
												查询
												<i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
											</button>
										</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-1 control-label" for="form-field-1">客户名称<span
                                    class="required-star">*</span>：</label>
                            <div class="col-md-9">
                                <input type="text" id="form-field-1" class="col-xs-10 col-sm-5">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label" for="form-field-1">客户地址<span
                                    class="required-star">*</span>：</label>
                            <div class="col-md-2">
                                <select class="input-sm form-control" name="" id="">
                                    <option value="">省</option>
                                    <option value="">上海</option>
                                    <option value="">北京</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select class="input-sm form-control" name="" id="">
                                    <option value="">市</option>
                                    <option value="">上海</option>
                                    <option value="">北京</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select class="input-sm form-control" name="" id="">
                                    <option value="">区</option>
                                    <option value="">上海</option>
                                    <option value="">北京</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label" for="form-field-1">详细地址：</label>
                            <div class="col-md-9">
                                <input type="text" id="form-field-1" class="col-xs-10 col-sm-5">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="vweddingTable" class="table table-striped table-bordered table-hover dataTable ">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>角色</th>
                            <th>姓名</th>
                            <th>职务</th>
                            <th>联系方式</th>
                            <th>QQ</th>
                            <th>邮箱</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <select class="form-control">
                                    <option>联系人</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </td>
                            <td>张三</td>
                            <td>销售</td>
                            <td>12345678901</td>
                            <td>1234567890</td>
                            <td>销售</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12 mt20">
                    <button class="btn btn-sm btn-primary" type="button">新增联系人</button>
                </div>
            </div>

            <div class="mt20">
                <div class="page-header">
                    <h1>线索基本信息</h1>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-md-1 control-label" for="form-field-1">录入人：</label>
                                <div class="col-md-7">
                                    <p class="form-control-static">张三</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-1 control-label" for="form-field-1">线索来源<span
                                        class="required-star">*</span>：</label>
                                <div class="col-md-2">
                                    <select class="input-sm form-control" name="" id="">
                                        <option value="">请选择</option>
                                        <option value="">系统分单</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-1 control-label" for="form-field-1">了解方式<span
                                        class="required-star">*</span>：</label>
                                <div class="col-md-2">
                                    <select class="input-sm form-control" name="" id="">
                                        <option value="">请选择</option>
                                        <option value="">系统分单</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-1 control-label" for="form-field-1">咨询方式<span
                                        class="required-star">*</span>：</label>
                                <div class="col-md-2">
                                    <select class="input-sm form-control" name="" id="">
                                        <option value="">请选择</option>
                                        <option value="">系统分单</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-1 control-label" for="form-field-1">线索类型<span
                                        class="required-star">*</span>：</label>
                                <div class="col-md-2">
                                    <select class="input-sm form-control" name="" id="">
                                        <option value="">请选择</option>
                                        <option value="">系统分单</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-1 control-label" for="form-field-1">预购产品<span
                                        class="required-star">*</span>：</label>
                                <div class="col-md-10">
                                    <label class="checkbox-inline no-padding-left">
                                        <input name="form-field-checkbox" type="checkbox" class="ace">
                                        <span class="lbl">V系列</span>
                                    </label>
                                    <label class="checkbox-inline no-padding-left">
                                        <input name="form-field-checkbox" type="checkbox" class="ace">
                                        <span class="lbl">红包运营商</span>
                                    </label>
                                    <label class="checkbox-inline no-padding-left">
                                        <input name="form-field-checkbox" type="checkbox" class="ace">
                                        <span class="lbl">红包广告主</span>
                                    </label>
                                    <label class="checkbox-inline no-padding-left">
                                        <input name="form-field-checkbox" type="checkbox" class="ace">
                                        <span class="lbl">商业地产</span>
                                    </label>
                                    <label class="checkbox-inline no-padding-left">
                                        <input name="form-field-checkbox" type="checkbox" class="ace">
                                        <span class="lbl">易站</span>
                                    </label>
                                    <label class="checkbox-inline no-padding-left">
                                        <input name="form-field-checkbox" type="checkbox" class="ace">
                                        <span class="lbl">优者工作圈</span>
                                    </label>
                                    <label class="checkbox-inline no-padding-left">
                                        <input name="form-field-checkbox" type="checkbox" class="ace">
                                        <span class="lbl">定制开发</span>
                                    </label>
                                    <label class="checkbox-inline no-padding-left">
                                        <input name="form-field-checkbox" type="checkbox" class="ace">
                                        <span class="lbl">其他</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-1 control-label" for="form-field-1">关键字：</label>
                                <div class="col-md-7">
                                    <input type="text" id="form-field-1" class="col-xs-10 col-sm-5">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-1 control-label" for="form-field-1">备注：</label>
                                <div class="col-md-5">
                                    <textarea id="form-field-11" class="autosize-transition form-control"
                                              style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 52px;"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-5">
                                    <button type="button" class="btn btn-sm btn-primary" data-fn="submit">保存</button>
                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modals">取消
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- 页面内容全部放大这里 结束 -->
        </div>
    </div>
    <!-- 异步加载footer -->
    <div class="footer"></div>
    <!-- 异步加载footer 结束-->
    <!-- 返回顶部按钮 -->
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
    <!-- 返回顶部按钮 结束-->
</div>

<!-- 前端异步加载js 正式环境不需要 -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/layout.js"></script>
<!-- 前端异步加载js 结束 -->
</body>
</html>
